name: Runner Client

on:
  workflow_dispatch:
    inputs:
      os:
        description: "OS for runner client"
        required: true
        default: "ubuntu-20.04"
      serverAddress:
        description: "Runner server address"
        required: true
      sessionId:
        description: "Runner server session ID"
        required: true
      repository:
        description: "GitHub repository name with owner. E.g. actions/checkout"
        required: false
      ref:
        description: "The branch, tag or SHA to checkout"
        required: false

jobs:
  runner-client:
    runs-on: ${{ github.event.inputs.os }}

    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: "14"

      - uses: actions/checkout@v2
        if: github.event.inputs.repository
        with:
          repository: ${{ github.event.inputs.repository }}
          ref: ${{ github.event.inputs.ref }}
          token: ${{ secrets.RUNNER_ACTIONS_PAT }}

      - name: Install runner client
        run: |
          yarn global add @github-vsc-runner/client
          echo "$(yarn global bin)" >> $GITHUB_PATH

      - name: Start client
        run: gvsc-client
        env:
          SESSION_ID: ${{ github.event.inputs.sessionId }}
          SESSION_OS: ${{ github.event.inputs.os }}
          SERVER_ADDRESS: ${{ github.event.inputs.serverAddress }}
