name: Runner Client

on:
  workflow_dispatch:
    inputs:
      os:
        description: "OS for runner client"
        required: true
        default: "ubuntu-20.04"
      serverAddress:
        description: "Runner server address"
        required: true
      sessionId:
        description: "Runner server session ID"
        required: true

jobs:
  ubuntu-20-04:
    runs-on: ubuntu-20.04
    if: github.event.inputs.os == 'ubuntu-20.04'

    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: "14"

      - name: Install runner client
        run: |
          yarn global add @github-vsc-runner/client
          echo "$(yarn global bin)" >> $GITHUB_PATH

      - name: Start client
        run: gvsc-client
        env:
          SESSION_ID: ${{ github.event.inputs.sessionId }}
          SESSION_OS: ${{ github.event.inputs.os }}
          SERVER_ADDRESS: ${{ github.event.inputs.serverAddress }}

  ubuntu-18-04:
    runs-on: ubuntu-18.04
    if: github.event.inputs.os == 'ubuntu-18.04'

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: "14"

      - name: Build client
        run: |
          cd packages/core
          yarn
          cd ../client
          yarn

      - name: Start client
        working-directory: packages/client
        run: node lib/index.js
        env:
          SESSION_ID: ${{ github.event.inputs.sessionId }}
          SESSION_OS: ${{ github.event.inputs.os }}
          SERVER_ADDRESS: ${{ github.event.inputs.serverAddress }}
